
Jogo_Forca/.idea/inspectionProfiles/profiles_settings.xml
Jogo_Forca/.idea/misc.xml
Jogo_Forca/.idea/Jogo_Forca.iml
Jogo_Forca/.idea/modules.xml
Exercicios_Logica_Programacao/.idea/.name
Exercicios_Logica_Programacao/.idea/Exercicios_Logica_Programacao.iml
Exercicios_Logica_Programacao/.idea/inspectionProfiles/profiles_settings.xml
Exercicios_Logica_Programacao/.idea/misc.xml
Exercicios_Logica_Programacao/.idea/modules.xml
